/* NavBarStyles.css */



#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    width: 100%;
    padding-left: 2%;
}

.logo-container {
    /* Adjust flex properties as necessary */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Or flex-start depending on your design */
    height: auto;
    /* Or set to the height of the navbar */
}

/* Add this class to the div wrapping your logo */
.logo-container img {
    width: auto;
    /* Adjust width as necessary */
    height: 100%;
    /* make logo height match parent's height */
}


#navbar li {
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 2.2vw;
    font-weight: 300;
    /* Fixed the typo here from '300s' to '300' */
    color: white;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
    color: #FF6300;
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #FF6300;
    position: absolute;
    bottom: -4px;
    left: 20px;
}