@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Space+Mono&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}


body {
  font-family: "outfit", sans serif;

}

body {
  margin: 0;
  padding: 0;
}


:root {
  --black-gradient: linear-gradient(144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}


.text-gradient {
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,
      #FFA000 0.89%,
      #FF8C00 17.23%,
      #FF7700 42.04%,
      #FF6300 55.12%,
      #FF4F00 71.54%,
      #BF3604 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.title-gradient {
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,
      #FFD54F 0.89%,
      /* Brighter yellow */
      #FFC107 17.23%,
      /* Brighter orange */
      #FFA000 42.04%,
      /* Brighter orange */
      #FF8C00 55.12%,
      /* Brighter dark orange */
      #FF7700 71.54%,
      /* Brighter dark orange */
      #FF6300 100%);
  /* Brighter dark orange */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-orange-gradient {
  background: linear-gradient(157.81deg,
      #FFA000 -43.27%,
      #FF8C00 -21.24%,
      #FF7700 12.19%,
      #FF6300 29.82%,
      #FF4F00 51.94%,
      #BF3604 90.29%);
}


.bg-dark-gradient {
  background: linear-gradient(157.81deg,
      #401010 -43.27%,
      #732626 -21.24%,
      #732626 12.19%,
      #732626 29.82%,
      #732626 51.94%,
      #732626 90.29%);
}

.bg-dark-gradient-reversed {
  background: linear-gradient(157.81deg,
      #401010 0%,
      #732626 100%);

}

.button-gradient {
  background: linear-gradient(135deg, #803822, #321016);
  color: white;
  /* You can adjust the text color to your preference */
  padding: 10px 20px;
  /* Adjust padding as needed */
  border: none;
  /* Remove border if desired */
  border-radius: 5px;
  /* Add border-radius for rounded corners if desired */
  cursor: pointer;
}


.bg-transparent {
  background-color: transparent;

}


.bg-black-gradient {
  background: linear-gradient(144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
}



.bg-black-gradient-2 {
  background: linear-gradient(-168.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
}

.bg-gray-gradient {
  background: linear-gradient(153.47deg,
      rgba(255, 255, 255, 0) -341.94%,
      #14101d 95.11%);
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}