#backend
.idea
.vscode
__pycache__
__MACOSX
*.plg
*.bpmn
*.pnml
*.xml
*.mxml
backend/flask_app/cache/features/*
backend/flask_app/cache/measures/*
backend/flask_app/cache/models/*
backend/flask_app/cache/logs/*
backend/flask_app/cache/explainers/*
misc/
.metadata
*.DS_Store
logs.zip
*.xes
*.zip
*.xml
*.gz
*.txts
used_eventlogs
.jpeg
.psd
.7
cache copy
temp
*/nohup.out