# Ignore logs with specific extensions
How-To-Write/
.idea
.vscode
__pycache__
cache.pkl
backend/.DS_Store
backend/src/cache.pkl
backend/src/__pycache__
backend/src/LogGenerator/logs/*
backend/src/LogGenerator/processes/*
backend/src/LogGenerator/.metadata
backend/.metadata
backend/src/discovery/models
backend/logs/*
backend/models/*
backend/src/LogGenerator/logs/*
backend/src/cache/features/*
backend/src/cache/logs/*
backend/src/cache/measures/*
backend/src/cache/models/*
backend/src/outputs/*
backend/src/real_output/*
backend/src/training_output/*
misc/
.metadata
.DS_Store