# Ignore logs with specific extensions
.idea
.vscode
__pycache__
backend/src/cache.pkl
backend/src/__pycache__
backend/src/LogGenerator/logs/*
backend/src/LogGenerator/processes/*
backend/src/LogGenerator/.metadata
backend/.metadata
backend/src/discovery/models
backend/logs/*
backend/models/*
backend/src/LogGenerator/logs/*
backend/src/cache/features/*
backend/src/cache/logs/*
backend/src/cache/measures/*
backend/src/cache/models/*
backend/src/outputs/*
backend/src/real_output/*
backend/src/training_output/*
backend/src/.DS_Store
backend/src/LogGenrator/.DS_Store
backend/src/LogGenerator/logs.zip
misc/
.metadata
**/.DS_Store
logs.zip